
  <div class="out">
    <h2 class="title">Add New User</h2>
    <div [formGroup]= "addForm" class="center" action="#">
      <input class="in" type="text" title="keyNum" placeholder="Key Number" formControlName="keyNum"/>
      <input class="in" type="text" title="firstName" placeholder="First Name" formControlName="firstName"/>
      <input class="in" type="text" title="lastName" placeholder="Last Name" formControlName="lastName"/>
      <input class="in" type="text" title="nic" placeholder="NIC" formControlName="nic"/>
      <input class="in" type="text" title="mobile" placeholder="Mobile Number" formControlName="mobile"/>
      <input class="in" type="text" title="email" placeholder="Email" formControlName="email"/>
      <input class="in" type="password" title="pwd" placeholder="Password" formControlName="pwd"/>
      <button class="btn" type="button" (click)="add()"class="btn" style="margin-left: 30px;margin-bottom: 20px;">Add User</button>
    </div>
  </div>
