#list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-left: 50px;
    margin-top: 20px;
  }

  .card {
    background-color: rgb(235, 235, 235);
    max-width: 600px;
  }
  
  .header-image {
    
    background-size: cover;
  }

  .no{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 200px;
    color: rgb(122, 122, 122);
  }