#list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-left: 50px;
    margin-top: 20px;
  }

  .card {
    
    background: linear-gradient(90deg, rgba(217,217,217,1) 0%, rgba(217,217,217,1) 27%, rgba(0,207,255,1) 100%);
    max-width: 90%;
  }
  
  .header-image {
    background-size: cover;
  }

  .no{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 200px;
    color: rgb(122, 122, 122);
  }