#list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-left: 50px;
    margin-top: 20px;
  }

  .card {
    background-color: rgb(235, 235, 235);
    max-width: 600px;
  }
  
  .header-image {
    
    background-size: cover;
  }