<div *ngIf="bookings?.length > 0; else noBookings">
    <ul *ngFor="let booking of bookings" class="collection" id="list">
        <li class="collection-booking">
            
            <mat-card class="card">
                <mat-card-header>
                  <div mat-card-avatar class="header-image" style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');"></div>
                  <mat-card-title>{{booking.type}} Booking</mat-card-title>
                  <mat-card-subtitle>{{booking.date}} at {{booking.time}}</mat-card-subtitle>
                </mat-card-header>          
                <mat-card-content>
                  <p>
                    --Name-- booked {{booking.type}} on {{booking.date}} at {{booking.time}} 
                  </p>
                </mat-card-content>
              </mat-card>
              
        </li>
    </ul>
</div>

<ng-template #noBookings>
    <hr>
    <h5>There are no Genaral to list</h5>
</ng-template>