<div class="toolbar">
    <h1 class="title">SkyLight Dashboard</h1>
</div>

<!--ToDo: Add badges for new things-->
<div class="inner">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Feed"><app-feed></app-feed></mat-tab>
        <mat-tab label="Users"><app-users></app-users></mat-tab>
        <mat-tab label="Labors"><app-labors></app-labors></mat-tab>
        <mat-tab label="Bookings"><app-bookings></app-bookings></mat-tab>
        <mat-tab label="Requests"><app-requests></app-requests></mat-tab>
        <mat-tab label="Complains"><app-complains></app-complains></mat-tab>
        <mat-tab label="Notifications"><app-notifications></app-notifications></mat-tab>
        <mat-tab label="Contact us"><app-contactus></app-contactus></mat-tab>
      </mat-tab-group>
</div>
