.btn{
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
    right: 0;
    margin-right: 15px;
}
#list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-left: 50px;
    margin-top: 20px;
  }

  .card {
    background-color: rgb(235, 235, 235);
    max-width: 450px;
    margin-left: 100px;
  }
  
  .header-image {
    
    background-size: cover;
  }