.out{
    margin-top: 10px;
    margin-left: 50px;
}
.card {
    max-width: 800px;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(217,217,217,1) 0%, rgba(0,207,255,0.28644961402529767) 100%);
  }
  
  .header-image {
    background-size: cover;
  }