.out{
    margin-top: 10px;
    margin-left: 50px;
}
.card {
    max-width: 800px;
    margin-top: 10px;
    background-color: rgb(235, 235, 235);
  }
  
  .header-image {
    background-size: cover;
  }