<div *ngIf="bookings?.length > 0; else noNumbers">
    <ul *ngFor="let booking of bookings" class="collection" id="list">
        <li class="collection-booking" id="list">

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{booking.type}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <b>{{booking.date}} at {{booking.time}}</b>
                    <mat-icon>book_online</mat-icon>
                    <button mat-flat-button disabled (click)="accept(booking.id)">Accepted</button>                   
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p>User : --name--</p> 


                <mat-panel-description>
                    <button mat-flat-button color="warn" (click)="decline(booking.id)">Decline</button>
                </mat-panel-description>
              
                
                
            </mat-expansion-panel>
        </mat-accordion>
              
        </li>
    </ul>
</div>

<ng-template #noNumbers>
    <hr>
    <h5>There are no Bookings to list</h5>
</ng-template>
