<div *ngIf="contactus?.length > 0; else noNumbers">
    <ul *ngFor="let contact of contactus" class="collection" id="list">
        <li class="collection-contact" id="list">

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel class="ex">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{contact.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <b>{{contact.mobile}}</b>
                    <mat-icon>speaker_notes</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p>{{contact.message}}</p>

            </mat-expansion-panel>
        </mat-accordion>
              
        </li>
    </ul>
</div>

<ng-template #noNumbers>
    <hr>
    <h5>There are no Messages to list</h5>
</ng-template>