<div *ngIf="bookings?.length > 0; else noNumbers">
    <ul *ngFor="let booking of bookings" class="collection" id="list">
        <li class="collection-booking" id="list">

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel class="ex">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <B>{{booking.type}}</B>
                  </mat-panel-title>
                  <mat-panel-description>
                    <b>{{booking.date}} at {{booking.time}}</b>
                    <mat-icon>book_online</mat-icon>
                    <button mat-raised-button disabled >Declined</button>      
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p><b>{{booking.userName}}</b></p>


                <mat-panel-description>
                    <button mat-raised-button style="background-color: rgb(0, 255, 85);" (click)="accept(booking.id)">Accept</button>
                </mat-panel-description>
              
                
                
            </mat-expansion-panel>
        </mat-accordion>
              
        </li>
    </ul>
</div>

<ng-template #noNumbers>
    <hr>
    <h5 class="no">There are no Bookings to list</h5>
</ng-template>
