
<div *ngIf="laborRequests?.length > 0; else noNumbers">
    <ul *ngFor="let laborRequest of laborRequests" class="collection" id="list">
        <li class="collection-laborRequest" id="list">

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel class="ex">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div mat-card-avatar style="background-size: cover; background-image: url({{laborRequest.userProfile}});"></div>
                    {{laborRequest.userKeyNum}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <div><b>{{laborRequest.userName}} </b> requested <b> {{laborRequest.type}}</b></div>                  
                    <div><span style="color: green;"><b>Status : </b></span> <b>{{laborRequest.status}}</b></div>
                    <div><span style="color: rgb(170, 159, 0);"><b>Rating : </b></span> <b>{{laborRequest.rating}}</b></div>
                    <mat-icon>report</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-panel-title>
                    <div mat-card-avatar style="background-size: cover; background-image: url({{laborRequest.laborProfile}});"></div>
                </mat-panel-title>
                <b>{{laborRequest.laborName}}</b>
            </mat-expansion-panel>
        </mat-accordion>
              
        </li>
    </ul>
</div>

<ng-template #noNumbers>
    <hr>
    <h5 class="no">There are no Requests to list</h5>
</ng-template>
